HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
RESEND_API_KEY=re_your_key_here
RESEND_FROM=Website Enquiries <forms@mail.gubis85.co.za>
NOTIFY_EMAILS=hr@gubis85.co.za,info@gubis85.co.za
